.image {
  width: 120px;
  height: auto;
}

.type {
  width: 35px;
  height: auto;
}

.typeName {
  font-size: 14px;
  margin-top: 2px;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
