.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 40px;
  height: 40px;
}

.title {
  padding-left: 5px;
  margin-top: 7px;
}

.subtitle {
  color: #dc3546;
  font-style: italic;
  padding: 7px 0 0 7px;
  white-space: nowrap;
  text-align: center;
}
