.container {
  min-height: calc(100vh - 84px);
  background: url("../../assets/img/background.jpg") no-repeat bottom right /
    contain;
}

.image {
  position: relative;
  width: 800px;
  height: auto;
}

.imageContainer {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
}
