.container {
  min-height: calc(100vh - 84px);
  background: url("../../assets/img/background.jpg") no-repeat bottom right /
    contain;
}

.image {
  margin-top: 35px;
  width: 300px;
  height: auto;
}
